@{
    var menu = new[]
    {
        new MenuViewModel() { Name = "$(overview)", Action = "Overview", Controller = "Home", Icon = "map" },
        new MenuViewModel() { Name = "$(studio)", Action = "Studio", Controller = "Home" , Icon = "insert_chart"}
    };
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><string>@ViewData["Title"] - $(site-title)</string></title>

    <meta name="title" string-content="$(site-title)" />
    <meta name="description" string-content="$(site-description)" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.oggibo.it/coronavirus/Overview" />
    <meta property="og:title" string-content="$(site-title)" />
    <meta property="og:description" string-content="$(site-description)" />
    <meta property="og:image" content="@Url.Content("~/image/preview-alt.png")" />

    <environment include="Production">
        <link href="~/css/theme.min.css" asp-append-version="true" rel="stylesheet" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7878533-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-7878533-4');
        </script>
    </environment>

    <environment include="Development">
        <link href="~/css/theme.css" asp-append-version="true" rel="stylesheet" />
    </environment>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />

    @RenderSection("Head", required: false)

</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a asp-controller="Home" asp-action="Index" class="brand-logo">Coronavirus</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right">
                    <li><a href="@Url.ChangeLanguage("it")" title="Italiano"><span class="flag-icon flag-icon-it"></span></a></li>
                    <li><a href="@Url.ChangeLanguage("en")" title="English"><span class="flag-icon flag-icon-gb"></span></a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    @foreach (var item in menu)
                    {
                    <li class="@Html.ActiveClass(item.Action, item.Controller)">
                        <a asp-controller="@item.Controller" asp-action="@item.Action">
                            @if (item.Icon != null)
                                {
                            <i class="material-icons left">@item.Icon</i>
                                }
                            <string>@item.Name</string>
                        </a>
                    </li>
                    }
                    <li><a href="https://youtu.be/6GxybVPwiDc" target="_blank"><i class="material-icons left">help</i><string>$(tutorial)</string></a></li>
                </ul>

            </div>
        </nav>

    </header>
    <ul class="sidenav" id="mobile-menu">
        @foreach (var item in menu)
        {
        <li class="@Html.ActiveClass(item.Action, item.Controller)">
            <a asp-controller="@item.Controller" asp-action="@item.Action">
                @if (item.Icon != null)
                    {
                <i class="material-icons left">@item.Icon</i>
                    }
                <string>@item.Name</string>
            </a>
        </li>
        }
        <li><a href="https://youtu.be/6GxybVPwiDc" target="_blank"><i class="material-icons left">help</i>Guida</a></li>
    </ul>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="page-footer">

        <div class="footer-copyright">
            <div class="container">
                © 2020 - Andrea Guerrieri
                <a class="grey-text text-lighten-4 right" href="mailto:aguerrieri82@gmail.com">aguerrieri82@gmail.com</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.debug.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>

        if (!("Promise" in self))
            document.write("<script src='@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.7.2/bluebird.min.js")'><\/script>");

        if (!("Symbol" in self))
            self["Symbol"] = { iterator: "$iterator" };

        M.Tooltip.init(document.querySelectorAll(".tooltipped"));
        M.Sidenav.init(document.getElementById("mobile-menu"));
    </script>

    @Html.StringTable()

    <environment include="Production">
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
