@model GeoPlotViewModel
@{
    ViewData["Title"] = "Coronavirus";
}

<div class="container">
    <p class="center-align">Animazione su andamento giornaliero infetti coronavirus, su base provinciale</p>
    <div class="row">
        <div class="col s12 m6 l8">
            <section class="card-panel">
                <div class="center-align">
                    <svg preserveAspectRatio="xMidYMid meet" viewBox="@Model.Geo.ViewBox.X @Model.Geo.ViewBox.Y @Model.Geo.ViewBox.Width @Model.Geo.ViewBox.Height">
                        @foreach (var area in Model.Geo.Areas)
                        {
                            <g id="@area.Key" class="@area.Value.Type.ToString().ToLower()">
                                @foreach (var poly in area.Value.Poly)
                                {
                                    <polygon points="@string.Join(' ', poly.Points.Select(a => string.Concat(a.X, " ", a.Y)))"></polygon>
                                }
                            </g>
                            area.Value.Poly = null;
                        }
                    </svg>
                </div>
            </section>
            <section class="day">
                <div class="stack-horizontal">
                    <span data-bind="text: dayNumber"></span>
                    <div class="range-field stack-fit">
                        <input type="range" min="0" data-bind="value: dayNumber, attr: {max: totalDays}, valueUpdate: 'input'" />
                    </div>
                    <div>
                        <button title="Play" class="waves-effect waves-light btn" data-bind="click: play, visible: !isPlaying()"><i class="material-icons ">play_circle_outline</i></button>
                        <button title="Pause" class="waves-effect waves-light btn" data-bind="click: pause, visible: isPlaying()"><i class="material-icons ">pause_circle_outline</i></button>
                    </div>
                </div>
            </section>
        </div>

        <div class="col s12 m6 l4 ">
            <h5>
                Giorno  <span data-bind="text: currentData"></span>
            </h5>
            <p>
                In rapporto alla popolazione:
            </p>
            <div>
                <label>
                    <input name="ageGroup" type="radio" value="total" data-bind="checked: ageGroup" />
                    <span>Tutti</span>
                </label>
                <label>
                    <input name="ageGroup" type="radio" value="old" data-bind="checked: ageGroup" />
                    <span>Anziani (65+)</span>
                </label>
            </div>
            <section class="card">
                <div class="card-content">

                    <!--ko if: currentArea-->
                    <span class="card-title" data-bind="text: currentArea().value.name"></span>
                    <div class="row">
                        <div class="col s12 m4">
                            <label>Infezioni</label>
                            <div data-bind="text: currentArea().dayData().totalPositive"></div>
                        </div>
                        <div class="col s12 m4">
                            <label>Popolazione</label>
                            <div data-bind="text: currentArea().value.demography[ageGroup()]"></div>
                        </div>
                        <div class="col s12 m4">
                            <label title="(Infetti per 100.000 abitanti)">Fattore</label>
                            <div data-bind="text: currentArea().dayFactor()[ageGroup()]"></div>
                        </div>
                    </div>
                    <div>
                        <canvas id="areaGraph">
                        </canvas>
                    </div>
                    <!--/ko-->
                    <!--ko ifnot: currentArea-->
                    <span>Selezionare una provincia</span>
                    <!--/ko-->
                </div>

            </section>
            <ul class="collapsible" id="topCases">
                <li>
                    <span class="card-title collapsible-header">Province più colpite</span>
                    <div class="collapsible-body">
                        <!--ko if topAreas-->
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Provincia</th>
                                    <th>Casi</th>
                                    <th>Pop.</th>
                                    <th title="(Infetti per 100.000 abitanti)">Fatt.</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: topAreas">
                                <tr data-bind="click: select">
                                    <td data-bind="text: value.name"></td>
                                    <td data-bind="text: dayData().totalPositive"></td>
                                    <td><span data-bind="text: value.demography[$parent.ageGroup()]"></span></td>
                                    <td><span data-bind="text: dayFactor()[$parent.ageGroup()]"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--/ko-->
                    </div>
                </li>
            </ul>
        </div>
    </div>



</div>

@section Head{
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>

}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>
        M.AutoInit();

        GeoPlot.app.initServices();
        GeoPlot.Uri.appRoot = '@Url.Content("~/")';
        ko.applyBindings(new GeoPlot.GeoPlotPage(@Html.Json(Model.Data), @Html.Json(Model.Geo)));
    </script>
}
